.home-container {
  background-color: #e8dae8;
  background-image: linear-gradient(90deg, #e8dae8 57%, #cbf5c7 100%);
  /* height: 100vh; */
}
ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: white;
  padding: 1rem;
  color: black;
  font-weight: 600;
  font-size: 17px;
  border-radius: 20px;
  margin: auto;
  border: none;
  outline: none;
}

.divhead {
  padding-top: 3rem;
}

.navigate ul {
  display: flex;
  gap: 5rem;
  align-items: center;
  flex-wrap: wrap;
}

.nav button {
  background-color: rebeccapurple;
  color: white;
  border-radius: 10px;
  padding: 0.7rem;
  width: 120px;
  border: none;
  outline: none;
}

.body-home {
  margin-top: 5rem;
}
.body-home form {
  background-color: white;
  width: 450px;
  border-radius: 30px;
  padding: 3rem;
}

.body-home input {
  display: block;
  width: 400px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ddd;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 2rem;
}
.body-home .f1 {
  text-align: center;
}
.body-home .f1 h3 {
  margin-bottom: 1rem;
  font-size: 35px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.body-home .f1 p {
  margin-bottom: 1rem;
  color: #7b7777;
  font-weight: 900;
  font-size: 17px;
}
.body-home label {
  display: block;
  font-weight: 900;
}
.p {
  color: #7b7777;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
}

.body-home span {
  color: rebeccapurple;
}

.body-home .btn button {
  background-color: rebeccapurple;
  width: 430px;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
  margin-top: 2rem;
}
.dnt {
  text-align: center;
  font-weight: 900;
  margin-top: 2rem;
}
.body-f {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.sec_section {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.sec_section .first_prt {
  width: 40%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding: 5rem;
  font-size: 17px;
  color: white;
}

.first_prt h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.first_prt p {
  margin-bottom: 2rem;
  width: 50%;
  font-size: 19px;
}

.i_div {
  width: 30px;
  height: 30px;
  background-color: forestgreen;
  border-radius: 50%;
}
.glass_bg ul li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.loans {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btns button {
  width: 150px;
  border-radius: 30px;
  padding: 0.7rem;
  border: none;
  outline: none;
  color: white;
}

.btns button:nth-child(1) {
  background: forestgreen;
}

.btns button:nth-child(2) {
  background: #a6a2a2;
}
.btns button:nth-child(3) {
  background: #a6a2a2;
}

.btns button:nth-child(4) {
  background: #a6a2a2;
}

.sec_prt {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  width: 50%;
}
.bth_prt {
  display: flex;
  flex-wrap: wrap;
}

.btn2 {
  width: 20%;
  margin: auto;
  margin-top: 40%;
}
.btn2 button {
  width: 100%;
  background-color: rebeccapurple;
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
}
.shrt {
  position: absolute;
  left: 40%;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 20px;
  width: 40%;
  top: 1250px;
}

.shrt .span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shrt span:nth-child(1) {
  color: rgb(34, 33, 33);
  height: 100%;
}
#sdr {
  background: #ddd;
  padding: 0.4rem;
  box-shadow: 2px 6px 16px -5px rgba(0, 0, 0, 0.75);
}

.pro {
  background: linear-gradient(to right, rebeccapurple, rgb(13, 255, 13));
  border-radius: 20px;
  height: 20px;
  position: relative;
  margin-bottom: 2rem;
}
.progress {
  background: rebeccapurple;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  left: 50px;
}
.sp {
  color: rebeccapurple;
  font-weight: 900;
  margin-bottom: 1rem;
  background: whitesmoke;
  box-shadow: 2px 6px 16px -4px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  border-radius: 20%;
}
.spp {
  background-color: rgb(181, 250, 181);
  padding: 0.4rem;
  color: rgb(22, 21, 21);
  font-weight: 700;
}
#so {
  color: rgb(19, 228, 19);
  font-weight: 900;
}
.rt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.spt {
  box-shadow: 2px 6px 16px -5px rgba(0, 0, 0, 0.75);
  padding: 0.7rem;
  color: black;
  font-weight: 700;
}
.pa {
  color: rgb(44, 42, 42);
  font-weight: 900;
}

.shrt .se {
  font-size: 50px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}

.bt {
  position: relative;
  margin-top: 12rem;
}

.ig {
  z-index: 1;
  position: absolute;
  top: -9rem;
  left: 27rem;
}
.glass_bg {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
  z-index: 2;
  padding: 2rem;
}

.third_sec .first_sec {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}

.sub1 h2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sub1 p {
  width: 85%;
  font-size: 19px;
  font-weight: 500;
}
.btn3 button {
  background: rebeccapurple;
  background-color: rebeccapurple;
  padding: 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 19px;
}
.myImg {
  position: absolute;
  top: -8rem;
}

.first_wan {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.have {
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

.have p {
  color: rgb(20, 18, 18);
  font-family: 800;
  font-size: 18px;
  margin-bottom: 2rem;
}

.have h1 {
  margin-bottom: 2rem;
}
.btn4 button {
  color: rgb(27, 232, 27);
  border-radius: 10px;
  padding: 0.7rem;
  outline: 3px solid rgb(27, 232, 27);
  border: none;
  background-color: white;
  font-weight: 900;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1291px) {
  .container {
    width: 100%;
  }
  .sub1 {
    margin-bottom: 2rem;
  }
  .first_wan {
    display: flex;
    gap: 15rem;
    align-items: center;
  }
  .first_prt {
    width: 40%;
  }
  .sec_prt {
    width: 47.6%;
  }

  .ig {
    z-index: 1;
    position: absolute;
    left: 17rem;
  }
  .first_prt p {
    width: 100%;
    font-size: 19px;
  }
  .bth_prt {
    position: relative;
  }
  .shrt {
    position: absolute;
    left: 47%;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 20px;
    width: 40%;
    top: 3rem;
  }
  .btn2 {
    width: 40%;
    margin: auto;
    margin-top: 60%;
    transition: all 2s linear;
  }
  .body-f {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .imgGal {
    width: 50%;
  }
  .imgGal .img {
    width: 100%;
    height: 100%;
  }
  .imgGal img img {
    width: 100%;
    height: 100%;
  }
  .body-home {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1187px) {
  .container {
    width: 1200px;
  }
  .sub1 {
    margin-bottom: 2rem;
  }
  .loans {
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }
  .btns {
    display: flex;
    gap: 4rem;
  }
  .first_wan {
    display: flex;
    gap: 15rem;
    align-items: center;
  }
  .first_prt {
    width: 40%;
  }
  .sec_prt {
    width: 46.6%;
  }

  .ig {
    z-index: 1;
    position: absolute;
    left: 17rem;
  }
  .first_prt p {
    width: 100%;
    font-size: 19px;
  }
  .bth_prt {
    position: relative;
  }
  .shrt {
    position: absolute;
    left: 47%;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 20px;
    width: 40%;
    top: 3rem;
  }
  .btn2 {
    width: 40%;
    margin: auto;
    margin-top: 70%;
    transition: all 2s linear;
  }
  .body-f {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
  .imgGal {
    width: 50%;
  }
  .imgGal .img {
    width: 100%;
    height: 100%;
  }
  .imgGal img img {
    width: 100%;
    height: 100%;
  }
  .body-home {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1187px) {
  .container {
    width: 1200px;
  }
  /* .sub1 { */
  /* margin-bottom: 2rem; */
  /* } */
  /* .loans { */
  /* width: 70%; */
  /* margin: auto; */
  /* margin-bottom: 1rem; */
  /* padding-top: 2rem; */
  /* } */
  /* .btns { */
  /* display: flex; */
  /* gap: 4rem; */
  /* } */
  /* .first_wan { */
  /* display: flex; */
  /* gap: 15rem; */
  /* align-items: center; */
  /* } */
  /* .first_prt { */
  /* width: 40%; */
  /* } */
  /* .sec_prt { */
  /* width: 46.6%; */
  /* } */
  /*  */
  /* .ig { */
  /* z-index: 1; */
  /* position: absolute; */
  /* left: 17rem; */
  /* } */
  /* .first_prt p { */
  /* width: 100%; */
  /* font-size: 19px; */
  /* } */
  /* .bth_prt { */
  /* position: relative; */
  /* } */
  /* .shrt { */
  /* position: absolute; */
  /* left: 47%; */
  /* background-color: white; */
  /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2); */
  /* padding: 1rem; */
  /* border-radius: 20px; */
  /* width: 40%; */
  /* top: 3rem; */
  /* } */
  /* .btn2 { */
  /* width: 40%; */
  /* margin: auto; */
  /* margin-top: 70%; */
  /* transition: all 2s linear; */
  /* } */
  /* .body-f { */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 2rem; */
  /* align-items: center; */
  /* } */
  /* .imgGal { */
  /* width: 50%; */
  /* } */
  /* .imgGal .img { */
  /* width: 100%; */
  /* height: 100%; */
  /* } */
  /* .imgGal img img { */
  /* width: 100%; */
  /* height: 100%; */
  /* } */
  /* .body-home { */
  /* margin-top: 2rem; */
  /* } */
}
